{% extends "_layout" %}
{% block content %}	
{% include "components/jumbotron" %}
{% include "components/inputs" %}

<div id="center-btn">
  <a href="/" type="button" class="btn btn-default btn-submit">Clear</a></div>
    <div class="container">
    <div class="row entry header-left">
      <h3>{{entry.title}}</h3>
    </div> <!-- end of row entry -->

{% for block in entry.detailsList %}
   {% for field in block.getFieldLayout().getFields() %}
       <div class="row entry">
         <div class="entry-header">
           <p>{{ field.getField().name }}:</p>
         </div>
            <div class="entry-content">
               {% set handle = field.getField().handle %}
              <p>{{ block[handle] }}</p> 
           
          </div> <!-- end of row-span -->
      </div> <!-- end of row entry -->

    {%  endfor %}
{% endfor %}

</div>

{% if entry.contactInformation|length %}

    <div class="container">
       <div class="row entry header-left">
         <h3>Contacts</h3>
      </div> <!-- end of row entry -->

     {% for block in entry.contactInformation %}
      {% for field in block.getFieldLayout().getFields() %}

       <div class="row entry">
         <div class="entry-header">
           <p>{{ field.getField().name }}:</p>
         </div>
            <div class="entry-content">
               {% set handle = field.getField().handle %}
              <p>{{ block[handle] }}</p> 
           
          </div> <!-- end of row-span -->
      </div> <!-- end of row entry -->

       {%  endfor %}
</br>
      
    {% endfor %}

{% endif %}

</div> <!-- /container -->  

{% endblock %}