{% block content %}

    {% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}
    <div class="contact">
      <h1>{{entry.contactUs}}</h1>
      <p>{{entry.contactUsCopy}}</p>
       <form method="post" action="" accept-charset="UTF-8">
      <div class="row-2col">
       <input type="hidden" name="action" value="contactForm/sendMessage">

        <div class="col-2">
              <input type="text" class="form-control" id="name" name="fromName" placeholder="Name" value="{% if message is defined %}{{ message.fromName }}{% endif %}" required>
                {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
        </div>
        <div class="col-2">
              <input type="text" class="form-control" id="email" placeholder="Email" required name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
        </div>
      </div>

       <div class="row-2col">
        <div class="col-2">
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required value="{% if message is defined %}{{ message.mobile }}{% endif %}">
             {{ message is defined and message ? errorList(message.getErrors('mobile')) }}
        </div>
        <div class="col-2">
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required value="{% if message is defined %}{{ message.subject }}{% endif %}">
               {{ message is defined and message ? errorList(message.getErrors('subject')) }}
        </div>
      </div>

       <div class="row-1col">
        <div class="col-1">
             <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="1000" rows="9">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
               {{ message is defined and message ? errorList(message.getErrors('message')) }}
              <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>        
        </div>

      </div>
      <div class="row-1col">
       <div class="col-1">
       <input type="submit" id="submit" value="Send" name="submit" class="btn btn-primary pull-right">
       </div>
       </div>
        </form>
    </div><!-- end of contact  -->

{% endblock %}