{% block content %}

<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-responsive").select2();
});
</script>
<div class="container">
  <div class="input-container">
    <div class="input">
      <form class="btn-wide" action="{{ url('') }}">
        <select class="btn-wide js-example-responsive category-select" 
        style="width: 100%; height: 100%" 
        name="drop_cat" 
        type="button" 
        data-toggle="dropdown" 
        onchange="this.form.submit()">Select a Category
        <span class="caret"></span>
        <option value="">Select a Category</option>
          {% set categories = craft.categories.group('category').order('title') %}
          {% for category in categories %}
        <option value="{{ category }}">{{ category.title }}</option>
        {% endfor %}
        </select>
      </form>
     
     <form class="btn-wide" action="{{ url('') }}">
        <select class="btn-wide js-example-responsive" 
        style="width: 100%; height: 100%" 
        type="button" 
        data-toggle="drop_org" 
        onchange="window.location.href=this.value">Select a Category
        <span class="caret"></span>
        <option value="">Select an Organization</option>
         {% if craft.request.getParam('drop_cat')|length  %}
             {% set entries = craft.entries.section('Organizations').search(craft.request.getParam('drop_cat')).order('score') %}
         {% else %}
             {% set entries = craft.entries.section('Organizations') %}
         {% endif %}
         {% for entry in entries %}
            <a href="{{entry.url}}"> <option value="{{ entry.url }}">{{ entry.title }}</option></a>
         {% endfor %} 
        </select>
      </form>

      <form class="navbar-search" role="search" action="{{ url('') }}">
          <div class="input-group add-on">
            <input class="form-control" placeholder="Search" name="q" id="srch-term" type="text">
            <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
      </form>
    </div> <!-- end of input div -->

  </div> <!-- end of input-container div -->
</div> 

{% endblock %}