
{% block content %}

    {% set jumbo = craft.entries.section('homepage').first() %}
    <div class="jumbotron">
      <div class="container">
        <h2>{{jumbo.mainHeaderTitle}}</h2>
        <p>{{jumbo.mainHeaderCopy}}</p>
      </div>
    </div>

{% endblock %}
