

{% block content %}
{% set qs = '?' ~ craft.request.getQueryStringWithoutPath() %}

{% if craft.request.getParam('drop_cat')|length  %}
 {% set query = craft.request.getParam('drop_cat') %}
{% paginate craft.entries.section('Organizations').search(query).order('title').limit(5) as entries %}

{% elseif craft.request.getParam('drop_org')|length  %}
 {% set query = craft.request.getParam('drop_org') %}
 {% paginate craft.entries.section('Organizations').search(query).order('title').limit(5) as entries %}

{% elseif craft.request.getParam('q')|length  %}
 {% set query = craft.request.getParam('q') %}
 {% paginate craft.entries.section('Organizations').search('title:' ~ query).order('score').limit(5) as entries %}

{% endif %}


{% if entries is defined and entries|length %}
<div id="center-btn">
 <a href="/" type="button" class="btn btn-default btn-submit">Clear</a></div>
   <div class="container">
         {% for entry in entries %}
      <div class="row">
          <h2>{{entry.title}}</h2>
          <div class="row-span">
            <div class="row-span-item">
              <p>{{entry.organizationSummary}}</p> 
            </div>
            <div class="row-span-item">
              <p><a class="btn btn-default" href="{{ entry.url}} " role="button">View details &raquo;</a></p>
            </div>
          </div>
      </div>
      <hr>
          {% endfor %}

{% endpaginate %}

{% if paginate is defined %}
{% if paginate.prevUrl %}<a href="{{ paginate.prevUrl ~ qs}}">Previous Page</a>{% endif %}
    {% if paginate.nextUrl %}<a href="{{ paginate.nextUrl ~ qs }}">Next Page</a>{% endif %}
    {% endif %}
{% elseif entries is defined and entries|length < 1 %}
<div id="center-btn">
 <a href="/" type="button" class="btn btn-default btn-submit">Clear</a></div>
 <div class="container">
      <div class="row no-query">
               <p>Sorry, your search for “{{ query }}” didn’t return any results.</p>
          </div>
      </div>

{% endif %}
{% endblock %}
