body {
	overflow-x: hidden; 
}

h1 {
    font-size: 25px;
    color: #79A338;
}
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: #79A338;
}
.column {
    background-color: ;
    margin-bottom: 10px;
}
.jumbotron {
    background: url(../img/bg_img_opt_dark.jpg) no-repeat;
    background-size: cover;
}
.jumbotron .container {
    max-width: 60%;
    color: white;
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}
.jumbotron p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.search {
    padding: 0 0 0px 0;
}
.navbar-search {
    width: 30%;
}
.input-container {
    height: 60px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding-left: 0;
}
.dropdown {
    width: 80%;
}
.dropdown-menu {
    min-width: auto;
    width: 100%;
}
.row {
    width: 100%;
    margin: 0;
}
.row h2 {
    color: #79A338;
}
.row-span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.row-span p:nth-of-type(1) {
    width: 90%;
}
.header-left {
    margin-left: -20px;
}
h6 {
    padding: 0;
}
.entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 5px;
}
.entry-header {
    width: 20%;
}
.entry-header p {
    font-size: 18px;
    font-weight: bold;
}
.entry-content {
    width: 80%
}
.no-query {
    text-align: center;
    font-size: 18px;
    padding: 50px 0 15px 0;
}
.select2-drop-active {
    border: 1px solid rgba(210, 100, 10, 1.8);
    border-top: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid rgba(210, 100, 10, 1.8);
}
.select2-results .select2-highlighted {
    background: #f00;
    color: #fff;
}
.partners {
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color: #106228;
    color: white;
}
.partners-span {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: center;
}
.partners-item {
    width: 100px;
    height: 100px;

    margin: 20px 5% 20px 5%;
}


.row-1col {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
}
.col-1 {
    width: 100%;
    margin: 0 auto;
}
.row-2col {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 15px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#center-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.col-2 {
    width: 45%;
}
.btn-default {
    background-color: #79A338;
    color: white;
    text-transform: uppercase;
    background-image: none;
    text-shadow: none;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #81B336;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.btn-wide {
    width: 40%;
    margin-right: 5px;
}
.btn-submit {
    margin: 0 auto;
    margin-top: 20px;
}
.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}
.select2-container .select2-selection--single {
    height: 34px;
}
.contact {
    padding: 30px;
    text-align: center;
}
footer {
    margin-top: 50px;
    text-align: center;
    height: 200px;
    color: white;
    background-color: #4E524C;
}
.footer-span {
    position: relative;
    bottom: -40px;
}
@media screen and (max-width: 800px) {
    .header-left {
        margin-left: 0px;
    }
}
@media screen and (max-width: 600px) {
    .btn-wide {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0px;
    }
    .navbar-search {
        width: 100%;
    }
    .jumbotron .container {
        max-width: 100%;
    }
    .jumbotron h2 {
        font-size: 5vw;
    }
    .jumbotron p {
        font-size: 3vw;
    }
    .input {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .row-span p:nth-of-type(1) {
        width: 100%;
    }
    .input-container {
        height: 150px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .row-span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .row-span-item {
        margin: 0 auto;
    }
    .row {
        text-align: center;
    }
    .entry {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0;
    }
    .entry-header {
        width: 100%;
    }
    .entry-content {
        width: auto;
    }
}
@media screen and (max-width: 600px) {
    .jumbotron p {
        display: none;
    }
}