{% extends "_layout" %}

{% block content %}

 {% include "components/jumbotron" %}

{% include "components/inputs" %}


   <div class="search">
    {% include "components/search" %}
  	</div>

</div> <!-- /container -->
</div> <!-- /container -->

  <div class="partners">

  <h3>{{entry.partners}}</h3>
    <div class="partners-span">

    {% for asset in entry.partnersImg %}
    <div class="partners-item">
    	<img src="{{ url(asset.url) }}"></img>
    </div>
{% endfor %}

  </div>

  </div> <!--  -->

  <div class="container">

    {% include "components/contact" %}

  </div><!-- end of container  -->


{% endblock %}
